body{
    margin-top: 70px;
    background-image: linear-gradient(#181830, #463c64);
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}

/*
#attribution{
    background: #e53d8b;
}

#lead{
    font-weight: bold;
}*/
